﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>






    
<form action="/Home/Array" method="post">
    <input id="names" name="names" type="text" value="" />
    <input id="names" name="names" type="text" value="" />
    <input id="names" name="names" type="text" value="" />
    <input id="names" name="names" type="text" value="" />
    <input type="submit" />
</form>