﻿@model IList<TTTMVC.Models.Cell>
@{
    ViewBag.Title = "Index";
}

<div class="parent">
    <div class="myContent">
        <div><h2>Tic Tac Toe</h2></div>
        <table class="myTable">
            <tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    if (i % 3 == 0)
                    {
                        @:</tr><tr>
                    }
                    <td id="@Model[i].ID">@Model[i].Cell_value</td>
                    @*@Url.Action("GetCellValue", new { id = Model[i].ID })*@
                }
            </tr>
        </table>
    </div>
</div>



