﻿a{
    color: #19DEA4;
    border-width: 3px;
}

.navbar-custom {
    background-color: #19DEA4;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #154335;
}

.navbar-custom .navbar-nav .nav-link {
    color: #154335;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #154335;
}

.myBtn {
    border-color: #19DEA4;
}


