﻿@model IEnumerable<KateOdeToFood.Models.Restaurant>

<table id="searchResults">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Restaurant", new { id = item.ID }, null)
            </td>
            <td>
                @item.Address.City, @item.Address.State
            </td>
        </tr>
    }

</table>

