﻿@model KateOdeToFood.Models.Review

@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<div id="latestReview">
    @Ajax.ActionLink("Click here to see the latest review",
    "LatestReview", new AjaxOptions
    {
        UpdateTargetId = "LatestReview",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        LoadingElementId = "progress"
    })
    @*<div id="latestReview">
            <a data-ajax="true" data-ajax-loading="#progress" data-ajax-method="GET"
               data-ajax-mode="replace" data-ajax-update="#latestReview"
               href="/Home/LatestReview">
                Click here to see the latest review
            </a>
        </div>*@
</div>
<p></p>
@using (Ajax.BeginForm("Search", "home", new AjaxOptions
{
    HttpMethod="GET",
    InsertionMode=InsertionMode.Replace,
    UpdateTargetId="searchResults"
}))
{
    <input type="text" name="q" data-autocomplete="@Url.Action("QuickSearch","Home")"/>
    <input type="submit" value="Search"/>
}
<table id="searchResults">

</table>
<div id="progress">
    <img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="loader"/>
</div>