﻿@model GameStore.Domain.Enteties.Cart

<div class="navbar-right">
    @Html.ActionLink("Заказать","Index","Cart",
    new { returnUrl=Request.Url.PathAndQuery},
    new { @class= "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>Ваша корзина:</b>
    @Model.Lines.Sum(x=>x.Quantity) игр,
    @Model.ComputeTotalValue().ToString("# грн")
</div>

