﻿@model IPagedList<RecipeListViewModel>
@using MVC.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Recipes</h2>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<div id="searchDiv">
    <form method="get" id="f1" action="@Url.Action("Index","Home")"
          data-otf-ajax="true" data-otf-target="#recipeList">
        <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete","Home")"  id="In1"/>
        <input type="submit" value="Search By Name" />
    </form>
</div>

@*@Html.Action("SayHello")*@

@Html.Partial("_Recipes", Model)



