﻿@model IEnumerable<FirstMVC5app.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Html.RadioButton</h2>

@Html.RadioButton("color", "red")
<span>красный</span> <br />
@Html.RadioButton("color", "blue")
<span>синий</span> <br />
@Html.RadioButton("color", "green", true)
<span>зеленый</span>

<h2>Html.Password:</h2>
<p>@Html.Password("UserPassword", "val")</p>

<h2>Html.CheckBox</h2>
@Html.Label("yes")
@Html.CheckBox("Enable", false)
@Html.Label("no")
@Html.CheckBox("Enable", false)

<h2>Html.DropDownList</h2>
@Html.DropDownList("countires", new SelectList(new string[] { "Russia", "USA", "Canada", "France" }), "Countries")
