﻿@model IEnumerable<FirstMVC5app.Models.Book>

@{
    ViewBag.Title = "MyDropDownList";
}

<h2>MyDropDownList</h2>

@Html.DropDownList("Author", ViewBag.Books as SelectList)

<h2>Html.ListBox</h2>

@using (Html.BeginForm())
{
    @Html.ListBox("countries", 
            new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }))
    <p><input type="submit" value="Отправить" /></p>
}

@Html.ListBox("fruits", new MultiSelectList(new string[] { "Apple", "Pear", "Grape", "Orange" }))
