﻿@{
    Layout = null;
}

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>

        </div>
    </body>
    </html>*@


@helper HtmlList(string[] items)
{
<ul>
    @foreach(var item in items)
    {
        <li>@item</li>
    }
</ul>
}
