﻿@model IEnumerable<DataLayer.Ingredient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ingredient_Id }) 
            <br/>
            @Html.ActionLink("Details", "Details", new { id=item.Ingredient_Id }) 
            <br />
            @Html.ActionLink("Delete", "Delete", new { id=item.Ingredient_Id })
            <br />
           
        </td>
    </tr>
}

</table>
