table{
    border:2 px solid yellowgreen;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    text-align: center;
    width:600px;
    height: 600px;
}

div{
    width: auto;
    height: auto;
}

.wall{
 
   max-width: 100%;
   height:100%;
}
td{
    border: 3px solid yellowgreen;
    height:50px;
    width:50px;
}

img{
    width:20px;
    height: 20px;
    margin: auto;  
}

.container{
    display: table;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display: table-row;
}
.biggerImg{
    width:40px;
    height: 40px;
    margin: auto;  
}

.wall{
    background-color: yellowgreen;
}

.tableDiv{
   display: table-cell;
   width:1000px;
   
}

.info{
    display: table-cell;
    color: yellowgreen;
}

.resultcontainer{
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;

}


