﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.myTable {
    width: 400px;
    height: 400px;
    background-color: cyan;
    border: 2px solid;
    border-color: gray;
}
td {
    border: 2px solid;
    border-color: gray;
    text-align:center;
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.myContent {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -500px;
    right: 1000px;
    bottom: 0;
    left: 0;
    margin: auto;
}

