﻿@model IPagedList<RecipeListViewModel>
@using MVC.Helpers



<div  id="recipeList">
    <div class="pagedList" data-otf-target="#recipeList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
       PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    <table id="">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ImageRecipeViewModel(item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @ListHelperL.CreateList(Html, item.Ingredients, new { @class = "btn", id = "citiesList" })
                </td>
                <td>
                    @Html.ActionLink("EDIT", "Edit", "Recipe", new { id = item.Recipe_Id }, null)
                    <br />
                    @Html.ActionLink("DETAILS", "Details", "Recipe", new { id = item.Recipe_Id }, null)
                    <br />
                    @Html.ActionLink("DELETE", "Delete", "Recipe", new { id = item.Recipe_Id }, null)
                    <br />
                    @Html.ActionLink("ADD INGREDIENT", "Create", "Ingredients")
                </td>
            </tr>
        }
    </table>
</div>

