﻿@using KateOdeToFood.Models
@model IEnumerable<KateOdeToFood.Models.Restaurant>
<p>
    Filter:
</p>
@using (Html.BeginForm("Index","Restaurant",FormMethod.Get))
{
    @Html.DropDownList("state",new SelectList(ViewBag.States))
    <input type="submit" value="Filter"/>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address.Street)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Address.City)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Address.State)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Address.Country)
    </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address.Country)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Show restaurants in MD","index","Restaurant",new { state="MD"},null)
<p>

</p>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", "Restaurant", new { id = item.ID }, null)
            </td>
            <td>
                @item.Address.City,@item.Address.State
            </td>
        </tr>
    }
</table>