﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table>
            @foreach (var r in ViewBag.Recipe)
            {
                <tr>
                    <td><p>@r.Name</p></td>
                    <td></td>
                    <td><p>@r.Description</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
