﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/MySheet.css" rel="stylesheet" />
    <title>Книга рецептов</title>
</head>
<body>
    <div class="header"><h1>Книга рецептов</h1></div>
    <div>
       
        <table>
            <tr id="=hr">
                <td><h2>Название</h2></td>
                <td></td>
                <td><h2>Описание</h2></td>
            </tr>
            @foreach (var b in ViewBag.Recipes)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td></td>
                    <td><p>@b.Description</p></td>
                </tr>
            }
        </table>
    </div>

    <div>
        <form method="get" action="Home/GetSingle">
            <p>RecipeId </p>
            <input type="text" name="Id" />
            <button type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>