﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <h3>form for your purchase</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <table>
                <tr>
                    <td><p>Enter your name </p></td>
                    <td><input type="text" name="Person" /> </td>
                </tr>
                <tr>
                    <td><p>Enter your address:</p></td>
                    <td>
                        <input type="text" name="Address" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Send" /> </td><td></td></tr>
            </table>
        </form>
    </div>

<br /><br />

<div>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @*<input type="hidden" value="@ViewBag.BookId" name="BookId"/>*@

        @Html.Hidden("BookId", @ViewBag.BookId as string)
        <p>Enter your name:</p>
        @Html.TextBox("Person","Enter your name")
        <p>Address:</p>
        @Html.TextBox("Address","Enter your address")
        <p><input type="submit" value="send"/></p>
    }
</div>


@Html.TextArea("text", "привет <br /> мир", 5, 50, null)



