﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td><p>Book</p></td>
                <td><p>Author</p></td>
                <td><p>Price</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Buy</a></p></td>
                </tr>
            }
        </table>
    </div>
<div>
    <h2> parameters for square of triangle:</h2>

    @using (@Html.BeginForm("Square", "Home", FormMethod.Post))
    {
    <label>a:</label><input type="text" name="a" />
    <label>h:</label><input type="text" name="h" />
    <input type="submit" />
    }
   
 </div>
