﻿@model IEnumerable<FirstMVC5app.Models.Book>
@using FirstMVC5app.Helpers;
@{
    ViewBag.Title = "MyIndex";
}

<h1>Kate experiments</h1>

@Html.CreateList(new string[] { "Лондон", "Париж", "Берлин" }, new { @class = "btn", id = "citiesList" })

@Html.Image("/Images/bullet_blue.png","bullet")


@MyHelpers.HtmlList(new string[] { "London", "Paris", "Berlin" })
@{
    string[] fruits = new string[] { "Apple", "Cheries", "Pears" };
}
@{
    string[] subjects = new string[] { "C#", "ASP.Net", "HTML" };
}

<h2>Fruits</h2>
@Html.CreateList(fruits)
<br />

<h2>subjects</h2>
<!-- или можно вызвать так -->
@ListHelper.CreateList(Html, subjects)

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
