﻿body {
    text-align:center;
     background-color:bisque;   
}
.header {
    background-image: url('../Images/banner-2390380_1920.png');
} 
#hr {
    padding: 10px;
    background-color: antiquewhite;
    font-size: 24px;
}