﻿@model DataLayer.Recipe
@using MVC.Helpers
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.ImageRecipe(Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        

    </dl>
</div>




<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Recipe_Id }) |
    @Html.ActionLink("Back to List", "Index","Home")
</p>
