﻿@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Валидация</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <input type="text" name="name" id="nameText" required />
        <input type="number" name="year" max="2000" min="1800" id="yearText" required />
        <input type="submit" value="Отправить" id="submit" />
    </div>
    <div id="errors" style="color:red;"></div>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function (event) {
                event.preventDefault();
                AddBook();
            });

            function AddBook() {
                // получаем значения для добавляемой книги
                var book = {
                    Name: $('#nameText').val(),
                    Year: $('#yearText').val()
                };

                $.ajax({
                    url: '/api/books/',
                    type: 'POST',
                    data: JSON.stringify(book),
                    contentType: "application/json;charset=utf-8",
                    success: function (data, status) { $('#errors').empty(); },
                    error: function (jxqr, error, status) {
                        // парсинг json-объекта
                        var response = jQuery.parseJSON(jxqr.responseText);
                        $('#errors').empty();
                        $('#errors').append("<h2>" + response['Message'] + "</h2>");
                        // добавляем ошибки свойства Year
                        if (response['ModelState']['book.Name']) {

                            $.each(response['ModelState']['book.Name'], function (index, item) {
                                $('#errors').append("<p>" + item + "</p>");
                            });
                        }
                        // добавляем ошибки свойства Name
                        if (response['ModelState']['book.Year']) {
                            $.each(response['ModelState']['book.Year'], function (index, item) {
                                $('#errors').append("<p>" + item + "</p>");
                            });
                        }
                    }
                });
            }
        })
    </script>
</body>
</html>